aiobotocore  
aiohttp  
aioitertools  
aiosignal  
async-timeout  
attrs  
botocore  
certifi  
charset-normalizer  
frozenlist  
idna  
jmespath  
multidict  
python-dateutil  
six  
urllib3  
wrapt  
yarl