<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <div class="main">
      <div class="products">
        <div class="container">
          <p class="title">
            <span class="text-wrapper">T</span>
            <span class="span">argeted </span>
            <span class="text-wrapper">A</span>
            <span class="span">utomation of </span>
            <span class="text-wrapper">D</span>
            <span class="span">ata </span>
            <span class="text-wrapper">A</span>
            <span class="span">nalysis</span>
          </p>
        </div>
        <div class="view">
          <!-- Datasets -->
          <a href="/datasets" class="div">
            <div class="a"></div>
            <div class="div-wrapper">
              <p class="p">데이터셋<br />등록된 데이터셋과 분석 현황을 조회합니다.</p>
            </div>
          </a>
          <!-- Upload -->
          <a href="/upload" class="view-2">
            <div class="a-2"></div>
            <div class="div-wrapper">
              <p class="p">업로드<br />데이터 분석 보고서, 보고서 양식을 업로드하여 TADA가 참조하게 만듭니다.</p>
            </div>
          </a>
          <!-- Request -->
          <a href="/text2sql" class="view-2">
            <div class="a-3"></div>
            <div class="div-wrapper">
              <p class="p">
                요청<br />연결된 시스템 내 필요한 정보를 요청하여 데이터셋에 등록하고, TADA가 자동으로 분석하도록
                합니다.
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
